- prop_id
- prop_type[house,appartment,Condo]
- neighborhood[Suburb A,suburb B,Downtown,Rural]
- bedrooms[1,5]
- bathrooms[1,4]
- sq_ft[1000,3000]
- Year_built[1977,2022]
- sale_price[1000000,50000000]

In [31]:
import pandas as pd
import random as rd

# create dummy data if needed

In [33]:
data={
    'Prop_id':range(1,101),
    'prop_type':[rd.choice(['House','Appartment','Condo']) for _ in range(100)],
    'Neighborhood':[rd.choice(['Suburb A','Suburb B','Downtown','Rural']) for _ in range(100)],
    'Bedrooms':[rd.randint(1,5) for _ in range(100)],
    'Bathrooms':[rd.randint(1,4) for _ in range(100)],
    'Sq_ft':[rd.randint(1000,3000) for _ in range(100)],
    'Year_built':[rd.randint(1977,2022) for _ in range(100)],
    'sale_price':[rd.randint(100000,300000) for _ in range(100)]
}
df=pd.DataFrame(data)
df.to_csv("./dummy data set/Real_estate.csv",index=False)

In [34]:
df=pd.read_csv("./dummy data set/Real_estate.csv")
df

,Prop_id,prop_type,Neighborhood,Bedrooms,Bathrooms,Sq_ft,Year_built,sale_price
0,1,Condo,Rural,4,4,1934,2016,275729
1,2,House,Rural,1,1,1402,2022,134265
2,3,House,Suburb B,4,4,1463,1988,291206
3,4,Appartment,Downtown,2,1,2497,1988,208841
4,5,Appartment,Suburb B,2,4,1787,1984,192586
...,...,...,...,...,...,...,...,...
95,96,Appartment,Rural,2,3,2488,1982,183387
96,97,House,Suburb B,2,4,2812,2015,173658
97,98,House,Rural,4,1,2423,1983,273458
98,99,House,Downtown,1,1,2891,2000,156762
99,100,House,Suburb B,2,2,1794,2022,263142

 # Handle missing values in the dataset, deciding on an appropriate strategy (e.g., imputation or removal).

In [35]:
df.isna().sum()

Prop_id         0
prop_type       0
Neighborhood    0
Bedrooms        0
Bathrooms       0
Sq_ft           0
Year_built      0
sale_price      0
dtype: int64

# Filter and subset the data based on specific criteria, such as a particular time period, property type, or location.

In [36]:
# filter data based on prop type
Prop_type='House'
prop_suubset=df[df['prop_type']==Prop_type]

# filter data based on neighborhood
neighborhood='Suburb A'
neigh_subset=df[df['Neighborhood']==neighborhood]

# filter data base on time period
start_year=2001
end_year=2022
year_subset=df[(df['Year_built']>=start_year)& (df['Year_built']<=end_year)]

print("Pro_Type: ")
print(prop_suubset)

print('neighborhood: ')
print(neigh_subset)

print('Time Period: ')
print(year_subset)

Pro_Type:
    Prop_id prop_type Neighborhood  Bedrooms  Bathrooms  Sq_ft  Year_built  \
1         2     House        Rural         1          1   1402        2022
2         3     House     Suburb B         4          4   1463        1988
6         7     House     Suburb A         5          1   2980        2004
9        10     House     Suburb A         3          1   2583        1994
11       12     House        Rural         3          1   1749        2001
21       22     House     Suburb B         3          2   2227        2008
22       23     House        Rural         1          2   2364        1980
24       25     House     Downtown         5          4   2532        1995
27       28     House        Rural         4          4   1094        2012
30       31     House     Downtown         3          2   2117        1995
32       33     House     Suburb B         3          4   2853        2007
35       36     House     Suburb A         5          1   2105        2007
39       40     House     Suburb B         3          3   1579        1982
40       41     House     Downtown         3          1   2584        2007
44       45     House        Rural         3          4   2247        1992
46       47     House     Suburb A         4          1   2079        2007
47       48     House     Suburb A         1          2   2737        2002
55       56     House     Suburb A         2          2   2230        2004
57       58     House     Suburb B         4          4   1371        2014
58       59     House        Rural         2          4   1802        1986
59       60     House     Downtown         3          1   1733        1997
61       62     House        Rural         1          1   1478        1999
64       65     House     Downtown         4          1   2837        2004
66       67     House     Suburb B         4          2   2797        2020
68       69     House        Rural         4          3   2497        2006
71       72     House     Suburb B         1          3   1416        2010
74       75     House     Suburb A         2          3   1914        2016
75       76     House        Rural         4          4   1539        2015
76       77     House     Downtown         1          2   1603        1997
77       78     House     Suburb A         2          2   2469        1987
80       81     House        Rural         2          1   2036        1989
83       84     House     Suburb B         4          2   2569        2006
84       85     House     Downtown         1          3   1402        1988
88       89     House        Rural         2          4   1959        2015
89       90     House        Rural         4          4   2250        2016
93       94     House     Suburb A         3          2   1292        2005
96       97     House     Suburb B         2          4   2812        2015
97       98     House        Rural         4          1   2423        1983
98       99     House     Downtown         1          1   2891        2000
99      100     House     Suburb B         2          2   1794        2022

    sale_price
1       134265
2       291206
6       107352
9       259058
11      201336
21      174346
22      235763
24      253665
27      106735
30      250404
32      173433
35      109397
39      199139
40      156691
44      209460
46      133802
47      145991
55      119343
57      177965
58      191474
59      130453
61      175721
64      155907
66      211816
68      116166
71      174250
74      129749
75      105587
76      245642
77      260546
80      103380
83      210619
84      126108
88      223633
89      210848
93      197756
96      173658
97      273458
98      156762
99      263142
neighborhood:
    Prop_id   prop_type Neighborhood  Bedrooms  Bathrooms  Sq_ft  Year_built  \
6         7       House     Suburb A         5          1   2980        2004
9        10       House     Suburb A         3          1   2583        1994
10       11  Appartment     Suburb A         2          3   1443        2019
13       14       Condo     Suburb A         5          4   1489        1999
25       26       Condo     Suburb A         5          4   2887        2010
34       35  Appartment     Suburb A         3          1   1067        1988
35       36       House     Suburb A         5          1   2105        2007
36       37  Appartment     Suburb A         5          4   1238        1988
46       47       House     Suburb A         4          1   2079        2007
47       48       House     Suburb A         1          2   2737        2002
48       49  Appartment     Suburb A         2          4   1007        2000
55       56       House     Suburb A         2          2   2230        2004
72       73  Appartment     Suburb A         2          2   1677        2021
73       74  Appartment     Suburb A         2          1   1254        2021
74       75       House     Suburb A         2          3   1914        2016
77       78       House     Suburb A         2          2   2469        1987
79       80  Appartment     Suburb A         4          4   1766        2022
81       82  Appartment     Suburb A         1          3   2482        1996
87       88  Appartment     Suburb A         2          3   1267        2019
90       91  Appartment     Suburb A         2          4   1146        1981
91       92       Condo     Suburb A         3          4   1746        2001
93       94       House     Suburb A         3          2   1292        2005

    sale_price
6       107352
9       259058
10      133417
13      122060
25      232495
34      182241
35      109397
36      119998
46      133802
47      145991
48      263501
55      119343
72      178097
73      141922
74      129749
77      260546
79      144132
81      238197
87      175752
90      106772
91      182377
93      197756
Time Period:
    Prop_id   prop_type Neighborhood  Bedrooms  Bathrooms  Sq_ft  Year_built  \
0         1       Condo        Rural         4          4   1934        2016
1         2       House        Rural         1          1   1402        2022
5         6       Condo        Rural         4          1   1465        2004
6         7       House     Suburb A         5          1   2980        2004
8         9  Appartment     Downtown         1          4   1441        2008
10       11  Appartment     Suburb A         2          3   1443        2019
11       12       House        Rural         3          1   1749        2001
15       16       Condo     Suburb B         2          3   1407        2013
16       17  Appartment     Downtown         1          3   2265        2020
20       21       Condo        Rural         5          1   2205        2006
21       22       House     Suburb B         3          2   2227        2008
23       24  Appartment        Rural         4          1   2912        2002
25       26       Condo     Suburb A         5          4   2887        2010
27       28       House        Rural         4          4   1094        2012
29       30  Appartment        Rural         5          3   2759        2004
32       33       House     Suburb B         3          4   2853        2007
35       36       House     Suburb A         5          1   2105        2007
38       39  Appartment     Suburb B         3          2   1548        2012
40       41       House     Downtown         3          1   2584        2007
46       47       House     Suburb A         4          1   2079        2007
47       48       House     Suburb A         1          2   2737        2002
50       51       Condo     Suburb B         2          4   1278        2004
52       53  Appartment     Downtown         3          4   2446        2018
53       54  Appartment        Rural         3          3   1947        2020
55       56       House     Suburb A         2          2   2230        2004
57       58       House     Suburb B         4          4   1371        2014
62       63  Appartment     Suburb B         2          1   1952        2003
64       65       House     Downtown         4          1   2837        2004
65       66       Condo     Downtown         2          4   2529        2015
66       67       House     Suburb B         4          2   2797        2020
67       68  Appartment        Rural         4          2   1246        2006
68       69       House        Rural         4          3   2497        2006
71       72       House     Suburb B         1          3   1416        2010
72       73  Appartment     Suburb A         2          2   1677        2021
73       74  Appartment     Suburb A         2          1   1254        2021
74       75       House     Suburb A         2          3   1914        2016
75       76       House        Rural         4          4   1539        2015
79       80  Appartment     Suburb A         4          4   1766        2022
83       84       House     Suburb B         4          2   2569        2006
86       87       Condo     Suburb B         4          1   1765        2012
87       88  Appartment     Suburb A         2          3   1267        2019
88       89       House        Rural         2          4   1959        2015
89       90       House        Rural         4          4   2250        2016
91       92       Condo     Suburb A         3          4   1746        2001
93       94       House     Suburb A         3          2   1292        2005
96       97       House     Suburb B         2          4   2812        2015
99      100       House     Suburb B         2          2   1794        2022

    sale_price
0       275729
1       134265
5       274619
6       107352
8       260737
10      133417
11      201336
15      241587
16      158124
20      269801
21      174346
23      114981
25      232495
27      106735
29      246670
32      173433
35      109397
38      225958
40      156691
46      133802
47      145991
50      200719
52      114438
53      284675
55      119343
57      177965
62      230207
64      155907
65      195502
66      211816
67      295418
68      116166
71      174250
72      178097
73      141922
74      129749
75      105587
79      144132
83      210619
86      297195
87      175752
88      223633
89      210848
91      182377
93      197756
96      173658
99      263142

#  Handle categorical variables by encoding them appropriately (e.g., one-hot encoding or label encoding) for further analysis.

In [37]:
df_encoded=pd.get_dummies(df,columns=['prop_type','Neighborhood'])
print(df_encoded)

    Prop_id  Bedrooms  Bathrooms  Sq_ft  Year_built  sale_price  \
0         1         4          4   1934        2016      275729
1         2         1          1   1402        2022      134265
2         3         4          4   1463        1988      291206
3         4         2          1   2497        1988      208841
4         5         2          4   1787        1984      192586
..      ...       ...        ...    ...         ...         ...
95       96         2          3   2488        1982      183387
96       97         2          4   2812        2015      173658
97       98         4          1   2423        1983      273458
98       99         1          1   2891        2000      156762
99      100         2          2   1794        2022      263142

    prop_type_Appartment  prop_type_Condo  prop_type_House  \
0                  False             True            False
1                  False            False             True
2                  False            False             True
3                   True            False            False
4                   True            False            False
..                   ...              ...              ...
95                  True            False            False
96                 False            False             True
97                 False            False             True
98                 False            False             True
99                 False            False             True

    Neighborhood_Downtown  Neighborhood_Rural  Neighborhood_Suburb A  \
0                   False                True                  False
1                   False                True                  False
2                   False               False                  False
3                    True               False                  False
4                   False               False                  False
..                    ...                 ...                    ...
95                  False                True                  False
96                  False               False                  False
97                  False                True                  False
98                   True               False                  False
99                  False               False                  False

    Neighborhood_Suburb B
0                   False
1                   False
2                    True
3                   False
4                    True
..                    ...
95                  False
96                   True
97                  False
98                  False
99                   True

[100 rows x 13 columns]

#  Aggregate the data to calculate summary statistics or derived metrics such as average sale prices by neighborhood or property type.

In [38]:
avg_price_by_neighborhood=df.groupby('Neighborhood')['sale_price'].mean()
print(avg_price_by_neighborhood)

Neighborhood
Downtown    200498.884615
Rural       196122.928571
Suburb A    167452.500000
Suburb B    207659.708333
Name: sale_price, dtype: float64

#  Identify and handle outliers:

In [39]:
from scipy import stats

z_scores=stats.zscore(df['Bathrooms'])
threshold=3
outliers =(z_scores>threshold) | (z_scores< -threshold)
print(outliers)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Bathrooms, Length: 100, dtype: bool