- cust_id(1,301)
- age(18,65)
- gender(Male,female,M,F,male,Female)
- Contract_lenght(12,60,12)
- total_charges(100,2000)
- monthly_Charges(20,200)
- data_usage_GB(1,100)
- churn(0,1) 0 - No churn ,1- churn

In [1]:
import pandas as pd
import random as rd
import numpy as np

In [20]:
data ={
    'Cust_id':range(1,301),
    'Age':[rd.randint(18,65) for _ in range(300)],
    'Gender':[rd.choice(['Male','female','M','F','Female','male']) for _ in range(300)],
    'Contract_length':[rd.choice([12,60]) for _ in range(300)],
    'Total_charges':[rd.uniform(100,2000) for _ in range(300)],
    'Monthly_charges':[rd.uniform(20,200) for _ in range(300)],
    'Data_usage_GB':[rd.uniform(1,100) for _ in range(300)],
    'Churn':[rd.choice([0,1]) for _ in range(300)]
}

In [2]:
df=pd.DataFrame(data)

NameError: name 'data' is not defined

In [19]:
df.to_csv("./dummy data set/telecom_cust_chrun1.csv",index=False)

In [3]:
df=pd.read_csv("./dummy data set/telecom_cust_chrun1.csv")
df.head()

,Cust_id,Age,Gender,Contract_length,Total_charges,Monthly_charges,Data_usage_GB,Churn
0,1,36,female,60,1695.665395,56.747017,29.638648,0
1,2,34,Male,12,1668.947625,97.141355,45.416956,0
2,3,27,F,12,1215.841822,112.934783,26.320321,1
3,4,63,F,12,841.448264,54.266974,91.466038,1
4,5,62,Female,60,1573.487738,75.760426,75.869133,1

In [4]:
print(df.head())
print(df.info())
print(df.describe())
print(df['Gender'].value_counts())
print(df['Churn'].value_counts())

   Cust_id  Age  Gender  Contract_length  Total_charges  Monthly_charges  \
0        1   36  female               60    1695.665395        56.747017
1        2   34    Male               12    1668.947625        97.141355
2        3   27       F               12    1215.841822       112.934783
3        4   63       F               12     841.448264        54.266974
4        5   62  Female               60    1573.487738        75.760426

   Data_usage_GB  Churn
0      29.638648      0
1      45.416956      0
2      26.320321      1
3      91.466038      1
4      75.869133      1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cust_id          300 non-null    int64
 1   Age              300 non-null    int64
 2   Gender           300 non-null    object
 3   Contract_length  300 non-null    int64
 4   Total_charges    300 non-null    float64
 5   Monthly_charges  300 non-null    float64
 6   Data_usage_GB    300 non-null    float64
 7   Churn            300 non-null    int64
dtypes: float64(3), int64(4), object(1)
memory usage: 18.9+ KB
None
          Cust_id         Age  Contract_length  Total_charges  \
count  300.000000  300.000000         300.0000     300.000000
mean   150.500000   42.563333          36.0000    1004.747954
std     86.746758   13.826178          24.0401     549.965683
min      1.000000   18.000000          12.0000     102.391298
25%     75.750000   31.750000          12.0000     526.993181
50%    150.500000   43.000000          36.0000    1000.054701
75%    225.250000   55.000000          60.0000    1509.453913
max    300.000000   65.000000          60.0000    1999.450259

       Monthly_charges  Data_usage_GB       Churn
count       300.000000     300.000000  300.000000
mean        111.672473      51.175888    0.416667
std          49.879150      28.214692    0.493830
min          20.041377       1.361409    0.000000
25%          70.433870      25.795681    0.000000
50%         113.777694      52.563992    0.000000
75%         153.566475      76.238431    1.000000
max         199.332860      99.928951    1.000000
Gender
female    56
Male      54
F         51
male      49
Female    45
M         45
Name: count, dtype: int64
Churn
0    175
1    125
Name: count, dtype: int64

In [5]:
df.isnull().sum()

Cust_id            0
Age                0
Gender             0
Contract_length    0
Total_charges      0
Monthly_charges    0
Data_usage_GB      0
Churn              0
dtype: int64

# use this code if need to drop values

In [6]:
# introduce number of duplicate values 
df=pd.concat([df,df.sample(frac=0.1,replace=True)],ignore_index=True)
print(len(df))

330

In [7]:
df.drop_duplicates(inplace=True)
print(len(df))

300

# 4. Remove any duplicate records from the dataset.

In [25]:
# Introduce duplicate records
df = pd.concat([df, df.sample(frac=0.1, replace=True)], ignore_index=True)

# Check the number of rows before removing duplicates
print("Number of rows before removing duplicates:", len(df))

# Remove duplicate records
df.drop_duplicates(inplace=True)

# Check the number of rows after removing duplicates
print("Number of rows after removing duplicates:", len(df))

Number of rows before removing duplicates: 330
Number of rows after removing duplicates: 300

# Check for inconsistent data, such as inconsistent formatting or spelling variations, and standardize it.

In [10]:
df['Gender']=df['Gender'].str.lower()
df['Gender']=df['Gender'].replace({'M':'Male','F':'Female','female':'Female','male':'Male','m':'Male','f':'Female'})
print("Unique values in 'Gender' column:", df['Gender'].unique())

Unique values in 'Gender' column: ['Female' 'Male']

# Convert columns to the correct data types as needed.

In [13]:
df['Age'] = df['Age'].astype(int)  # Convert 'Age' to integer
df['Total_charges'] = df['Total_charges'].astype(float)  # Convert 'Total_Charges' to float
df['Data_usage_GB'] = df['Data_usage_GB'].astype(float)  # Convert 'Data_Usage_GB' to float

# Check the data types of each column
print(df.dtypes)

Cust_id              int64
Age                  int32
Gender              object
Contract_length      int64
Total_charges      float64
Monthly_charges    float64
Data_usage_GB      float64
Churn                int64
dtype: object

# Identify and handle outliers in the data.

In [21]:
from scipy import stats
z_scores = np.abs(stats.zscore(df['Monthly_charges']))
threshold = 3

# Detect outliers
outliers = df[z_scores > threshold]

# Remove outliers
df = df[z_scores <= threshold]

# Check the number of rows before and after handling outliers
print("Number of rows before handling outliers:", len(data))
print("Number of rows after handling outliers:", len(df))

Number of rows before handling outliers: 8
Number of rows after handling outliers: 300

# Perform feature engineering, creating new features that may be relevant to predicting customer churn.

In [23]:
df['Data_to_Monthly_Ratio'] = df['Data_usage_GB'] / df['Monthly_charges']

# 2. Create a feature that indicates whether the customer has a long-term contract (e.g., 24 months or more).
df['Long_Term_Contract'] = df['Contract_length'] >= 24

# 3. Create a feature that groups 'Age' into different age ranges.
age_bins = [18, 30, 45, 60, 100]
age_labels = ['18-29', '30-44', '45-59', '60+']
df['Age_Group'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels)

# 4. Create a feature for the total charges per year.
df['Total_Charges_Per_Year'] = (df['Total_charges'] / df['Contract_length']) * 12

# Display the updated DataFrame with new features
print(df.head())

   Cust_id  Age  Gender  Contract_length  Total_charges  Monthly_charges  \
0        1   36  Female               60    1695.665395        56.747017
1        2   34    Male               12    1668.947625        97.141355
2        3   27  Female               12    1215.841822       112.934783
3        4   63  Female               12     841.448264        54.266974
4        5   62  Female               60    1573.487738        75.760426

   Data_usage_GB  Churn  Data_to_Monthly_Ratio  Long_Term_Contract Age_Group  \
0      29.638648      0               0.522294                True     30-44
1      45.416956      0               0.467535               False     30-44
2      26.320321      1               0.233058               False     18-29
3      91.466038      1               1.685483               False       60+
4      75.869133      1               1.001435                True       60+

   Total_Charges_Per_Year
0              339.133079
1             1668.947625
2             1215.841822
3              841.448264
4              314.697548